/* All custom less-code here */

// layout the info text of available online checkbox
.main.template-dir-search.template-name-results {
    & .checkboxFilter .checkbox .checkbox-label-description {
        & .iconlabel {
            margin-right: 5px;
        }
        & .iconlabel::before {
            padding-right: 2px;
            display: inline-block;
            margin-bottom: -3px;
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            & .iconlabel:first-child {
                display: block;
            }
        }
    }
}